.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center !important;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.inputTextArea , .outputTextArea {
  display: inline-block;
  width: 90% !important;
  background-color:#423e3d;
  color: white;
  border-color: tomato;
  margin: 20px;
  vertical-align: top;
}
.urlInput{
  display: block;
  width: 30%;
  background-color:wheat;
  border-radius: 10px;
  color: black;
  margin: 10px auto;
  padding: 10px;
}

.Input, .Output {
  display: inline-block;
  width: 50% !important;
}